In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# This notebook is for the Energy Consumption (Sub-Topic: General Energy)

In [20]:
se4all_df = pd.read_excel('../Data/SE4ALLEXCEL.xlsx')
se4all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2849 entries, 0 to 2848
Data columns (total 31 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    2849 non-null   object
 1   Country Code    2849 non-null   object
 2   Indicator Name  2849 non-null   object
 3   Indicator Code  2849 non-null   object
 4   1990            2120 non-null   float64
 5   1991            2121 non-null   float64
 6   1992            2139 non-null   float64
 7   1993            2137 non-null   float64
 8   1994            2145 non-null   float64
 9   1995            2160 non-null   float64
 10  1996            2165 non-null   float64
 11  1997            2168 non-null   float64
 12  1998            2169 non-null   float64
 13  1999            2173 non-null   float64
 14  2000            2372 non-null   float64
 15  2001            2375 non-null   float64
 16  2002            2384 non-null   float64
 17  2003            2385 non-null   float64
 18  2004            2386 non-null   float64
 19  2005            2392 non-null   float64
 20  2006            2392 non-null   float64
 21  2007            2399 non-null   float64
 22  2008            2397 non-null   float64
 23  2009            2400 non-null   float64
 24  2010            2400 non-null   float64
 25  2011            2400 non-null   float64
 26  2012            2407 non-null   float64
 27  2013            2407 non-null   float64
 28  2014            2406 non-null   float64
 29  2015            2400 non-null   float64
 30  2016            824 non-null    float64
dtypes: float64(27), object(4)
memory usage: 690.1+ KB

In [7]:
solarpv_df = pd.read_excel('../Data/solargis_pvpotential_countryranking_2020_data.xlsx')
solarpv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               210 non-null    object
 1   Unnamed: 1               210 non-null    object
 2   Unnamed: 2               8 non-null      object
 3   Unnamed: 3               210 non-null    object
 4   Basic indicators         210 non-null    object
 5   Unnamed: 5               208 non-null    object
 6   Unnamed: 6               210 non-null    object
 7   Unnamed: 7               210 non-null    object
 8   Unnamed: 8               186 non-null    object
 9   Unnamed: 9               201 non-null    object
 10  PV potential indicators  210 non-null    object
 11  Unnamed: 11              210 non-null    object
 12  Unnamed: 12              210 non-null    object
 13  Unnamed: 13              210 non-null    object
 14  Unnamed: 14              136 non-null    object
 15  Power sector indicators  204 non-null    object
 16  Unnamed: 16              204 non-null    object
 17  Unnamed: 17              199 non-null    object
 18  Unnamed: 18              138 non-null    object
 19  Unnamed: 19              184 non-null    object
 20  Unnamed: 20              183 non-null    object
dtypes: object(21)
memory usage: 34.6+ KB

# Find the total final energy consumption and renewable energy consumption

In [26]:
tot_energy_consum_se4all = se4all_df[se4all_df['Indicator Name']=='Total final energy consumption (TFEC) (TJ)']
tot_energy_consum_se4all

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
10,BES Islands,BES,Total final energy consumption (TFEC) (TJ),1.1_TOTAL.FINAL.ENERGY.CONSUM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3649.213500,3709.193500,3718.913500,3797.753500,NaN
21,Nauru,NRU,Total final energy consumption (TFEC) (TJ),1.1_TOTAL.FINAL.ENERGY.CONSUM,1468.400000,1471.000000,1372.300000,1288.900000,1248.500000,1193.800000,...,410.271000,416.085000,383.494000,388.257000,350.183000,352.343000,398.973000,422.911000,432.400600,NaN
32,Niue,NIU,Total final energy consumption (TFEC) (TJ),1.1_TOTAL.FINAL.ENERGY.CONSUM,57.770760,58.130760,58.886440,59.210760,59.210760,54.780760,...,58.959554,90.091789,64.975616,62.244029,66.539263,68.648827,70.409008,71.870469,74.352360,NaN
43,Wallis and Futuna,WLF,Total final energy consumption (TFEC) (TJ),1.1_TOTAL.FINAL.ENERGY.CONSUM,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,197.852800,183.136600,185.305700,182.869600,186.007000,176.378800,172.816400,171.249000,169.378213,NaN
54,Caucasian and Central Asia,CCA,Total final energy consumption (TFEC) (TJ),1.1_TOTAL.FINAL.ENERGY.CONSUM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2804,West Bank and Gaza,PSE,Total final energy consumption (TFEC) (TJ),1.1_TOTAL.FINAL.ENERGY.CONSUM,18340.987183,18708.257183,19350.746413,19825.740260,20334.329533,20572.694919,...,34962.364000,33559.187000,40386.425500,43474.437000,40719.999000,48423.320000,50130.199000,64292.372500,63990.570000,NaN
2815,Western Sahara,ESH,Total final energy consumption (TFEC) (TJ),1.1_TOTAL.FINAL.ENERGY.CONSUM,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
2826,"Yemen, Rep.",YEM,Total final energy consumption (TFEC) (TJ),1.1_TOTAL.FINAL.ENERGY.CONSUM,73106.970840,91890.295416,99403.759224,87650.616132,90101.275776,104423.983632,...,207218.046024,222475.122036,239288.934024,220556.646540,191939.449860,168698.606796,247869.027000,243441.862812,106887.329280,NaN
2837,Zambia,ZMB,Total final energy consumption (TFEC) (TJ),1.1_TOTAL.FINAL.ENERGY.CONSUM,179246.202696,184651.026552,188592.647544,187871.261904,188559.111276,192340.880244,...,248957.929944,255453.038388,263847.949200,275145.359112,289479.245724,313242.810768,324106.677540,332463.907152,342874.636560,NaN
2848,Zimbabwe,ZWE,Total final energy consumption (TFEC) (TJ),1.1_TOTAL.FINAL.ENERGY.CONSUM,331852.634352,333742.848948,336611.853648,336116.973888,322292.578968,335193.575148,...,361194.147432,346045.886352,346388.869008,353016.070992,373974.605640,390599.927892,391107.493656,395183.343456,396615.270924,NaN

In [29]:
renew_energy_consum_se4all = se4all_df[se4all_df['Indicator Name']=='Renewable energy consumption (TJ)']
renew_energy_consum_se4all

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
7,BES Islands,BES,Renewable energy consumption (TJ),3.1_RE.CONSUMPTION,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,89.684080,100.653000,112.507900,112.78860,NaN
18,Nauru,NRU,Renewable energy consumption (TJ),3.1_RE.CONSUMPTION,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.322388,0.321231,0.324507,0.324956,0.324156,0.325063,0.324444,0.333466,0.32988,NaN
29,Niue,NIU,Renewable energy consumption (TJ),3.1_RE.CONSUMPTION,0.33076,0.33076,1.08644,0.33076,0.33076,0.33076,...,16.395820,16.407640,16.407640,16.620320,16.625630,16.612310,16.619440,16.631280,16.63123,NaN
40,Wallis and Futuna,WLF,Renewable energy consumption (TJ),3.1_RE.CONSUMPTION,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,NaN
51,Caucasian and Central Asia,CCA,Renewable energy consumption (TJ),3.1_RE.CONSUMPTION,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2801,West Bank and Gaza,PSE,Renewable energy consumption (TJ),3.1_RE.CONSUMPTION,4050.07200,4108.34300,4166.61300,4214.88200,4263.15300,4311.42300,...,7159.134000,6746.247000,6680.265000,6114.579000,6279.089000,5927.160000,5820.319000,6770.153000,6701.55000,NaN
2812,Western Sahara,ESH,Renewable energy consumption (TJ),3.1_RE.CONSUMPTION,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,NaN
2823,"Yemen, Rep.",YEM,Renewable energy consumption (TJ),3.1_RE.CONSUMPTION,1570.80400,1570.80400,1570.80400,1570.80400,1570.80400,1570.80400,...,1940.414000,2002.002000,2063.590000,2125.220000,2186.808000,2248.395000,2309.983000,2371.613000,2433.20100,NaN
2834,Zambia,ZMB,Renewable energy consumption (TJ),3.1_RE.CONSUMPTION,148743.40000,151881.30000,155978.90000,159944.40000,163775.90000,167550.70000,...,231434.800000,235483.200000,242968.500000,253420.700000,263135.500000,277634.400000,286757.300000,292681.400000,301679.80000,NaN
2845,Zimbabwe,ZWE,Renewable energy consumption (TJ),3.1_RE.CONSUMPTION,212307.40000,212730.30000,216671.30000,216519.00000,220858.10000,224788.40000,...,282020.900000,283868.300000,288035.200000,292578.100000,297587.400000,304744.900000,311169.400000,320293.300000,324422.60000,NaN

# Find the electric power consumption

What to do in the situation of a sub-column name?